
.form-field{
  margin-bottom: 15px;
  position: relative;
}

.error-msg{
  position: absolute;
  left: 0;
  right: 0;
  color: tomato;
  font-size: 13px;
}

.content-area{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.left-content{
  width: 50%;
}
.right-content{
  width: 50%;
}
table{
  width: 100%;
  text-align: center;
  border: 1px solid gray;
  border-collapse: collapse;
}
th{
  color: gray;
}
th,td{
  border:1px solid gray;
}
h1{
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 9px 40px;
    background: #b5b5b5;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    text-shadow: 3px 2px black;
    position: relative;
}
h1::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background: #990094;
  z-index: 222;
  top: 21px;
  left: 16px;
  border-radius: 50%;
}